.page {
  width: auto;
}
.page {
  h1 {
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed Bold", sans-serif !important;
    font-size: 1.6rem;
    color: black;
  }
}
